:host {
  flex: 1;
  display: flex;
  flex-direction: row;
  border-radius: 3px;
  overflow: hidden;
  .markdown-toolbar-set {
    display: flex;

    overflow: hidden;
    border-radius: 3px;

    margin: 2px;

    &:not(:last-child) {
      margin-right: 0;
    }

    .markdown-button {
      border: 0;
      background-color: #fafafa;
      flex: 1;
      min-width: 26px;
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: none;
    }
  }
}