<header role="banner">
  <form [formGroup]="form">
    <select
      id="project"
      aria-label="Projeto"
      formControlName="project"
      (change)="goTo(project.value)"
    >
      <option value="">- Selecione um projeto -</option>
      <option *ngFor="let d of docs$ | async" [ngValue]="d">
        {{ d.name }}
      </option>
    </select>
  </form>

  <div>
    <a routerLink="/">Home</a>
  </div>

  <h1>{{ title }}</h1>
</header>

<main role="main">
  <router-outlet></router-outlet>
</main>