<div class="container">
  <h1>Angular Editor</h1>
  <p><a href="https://github.com/kolkov/toolbar-editor">Get it here</a></p>

  <label for="test_input">Test input </label>
  <input id="test_input" />
  <br /><br />
  <toolbar-editor
    id="editor1"
    [(ngModel)]="htmlContent1"
    [config]="config1"
    (ngModelChange)="onChange($event)"
    (blur)="onBlur($event)"
  ></toolbar-editor>
  <p class="html">HTML Output: {{ htmlContent1 }}</p>
  <form [formGroup]="form">
    <toolbar-editor
      autofocus="true"
      id="editor2"
      formControlName="signature"
      [config]="config2"
      (ngModelChange)="onChange2($event)"
    ></toolbar-editor>
  </form>
  <p>Form Value: {{ form.value.signature }}</p>
  <p>Form Status: {{ form.status }}</p>
</div>
