:host {
  flex: 1;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editor,
.preview {
  flex: 1;
  display: flex;
  flex-direction: column;

  article {
    flex: 1;
  }
}
